.shop-title {
  color: #272c2f;
  color: var(--c-theme);
  font-family: "Raleway", serif;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: .01em;
  text-transform: initial;
}

.shop-url {
  display: none;
}

.giftcard-container {
  max-width: 567px;
  margin: 0 auto;
  padding: 0 15px;
}

.giftcard-header {
  margin-top: 3.9rem;
  margin-bottom: 3.2rem;
  border-bottom-color: rgba(39, 44, 47, .8);
  border-bottom: 3px solid var(--c-theme);
}

.giftcard__header {
  .block-title {
    margin-bottom: 1.5rem;
  }
}

.giftcard__amount {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #fff;
  font-size: 4.2rem;
  text-shadow: 3px 3px 0 rgba(0,0,0,.1);

  @media all and (max-width: 767px) {
    top: 5px;
    right: 15px;
    font-size: 3rem;
  }
}

.giftcard__code {
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: 100%;
}

.giftcard__code-wrapper {
  display: inline-block;
  padding: 5px 16px;
  background-color: rgba(255,255,255,.9);
  color: #444;

  .giftcard__code--large & {
    font-size: 35px;
  }

  .giftcard__code--medium & {
    font-size: 32px;
  }

  .giftcard__code--small & {
    font-size: 30px;
  }

  @media all and (max-width: 767px) {
    .giftcard__code--large & {
      font-size: 25px;
    }

    .giftcard__code--medium & {
      font-size: 22px;
    }

    .giftcard__code--small & {
      font-size: 19px;
    }
  }
}

.giftcard__instructions {
  margin: 1rem 0 3.2rem;
  font-size: 1.8rem;
}

#QrCode {
  margin-bottom: 28px;

  img {
    margin: 0 auto;
  }
}

.template-giftcard.placeholder {
  position: relative;
  background-color: #fff;
  opacity: 1;
}

.giftcard__actions .btn-default {
  display: block;
  max-width: 190px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.user-notice {
  right: 15px;
  left: auto;
}