<div itemscope itemtype="http://schema.org/Product">
  {% section 'template-product-classic' %}
  {% section 'template-product-details-tabs' %}
</div>
{% section 'products-related' %}
{% section 'product-recommendations' %}