<div itemscope itemtype="http://schema.org/Product">
  {% section 'template-product-center-image' %}
  {% section 'template-product-details-tabs' %}
  {% section 'template-product-extra-images-center' %}
</div>
{% section 'products-related' %}
{% section 'product-recommendations' %}
{% section 'instagram' %}