<div itemscope itemtype="http://schema.org/Product">
  {% section 'template-product-grid' %}
  {% section 'template-product-details-tabs' %}
  {% section 'template-product-extra-images-grid' %}
</div>
{% section 'products-related' %}
{% section 'product-recommendations' %}
{% section 'template-product-service-promotion' %}