{%- layout none -%}
<div class="col-padding wishlist-card" data-product-handle="{{ product.handle }}">
  {% include 'product_card_wishlist', product: product, height: settings.card_img_height %}
</div>
